@charset "utf-8";


/*
	Portfolio General Style Sheet
  
	Filename:    portfolio_styles.css

	Main Colors: 
	sage green rgb(129, 154, 91) (headers)
  	dark sage rgb(88, 125, 70) (nav bar)
	yellow rgb(240,226,67)
*/

/* ==================================================================HTML/BODY========================================================== */

html {
	overflow-x: hidden;
	width: 100%;
	background: rgb(129, 154, 91);
	font-family: Verdana, Geneva, sans-serif;
	height: 100%;
}

body {
	background-color: white;

	width: 100%;
   
	margin-left: auto;
	margin-right: auto;
	clear: none;
	float: none;
	min-height: 100%;
	
}

nav a {
	text-decoration: none;
}
ul, ol {
	list-style: none;
}

.page-name h1{
   color: rgb(88, 125, 70);
   font-family: "Times New Roman", Times,  serif;
   font-weight: bold;
   font-size: 3em;
   letter-spacing: 0.03em;
   margin: 20px;
   text-align: center;
}

/* ==================================================================About Me styles========================================================== */

.bio-box p {
	font-size: .75em;
	padding-right: 20px;
	margin-bottom: 10px;
	margin-top: 0px;
}

.bio-sec {
   -webkit-flex: 1 1 250px;
   flex: 1 1 250px;   
   margin: 0;
   margin-left: 100px;
   margin-right: 100px;
}

.bio-sec {
  display: flex;
  position: relative;
  overflow: hidden;
}

.bio-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.bio-box {
  flex: 2;
  flex-direction: row;
  padding-right: 2rem;
  max-width: 60%;
  color: black;
}

.headshot {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* ==================================================================Research styles========================================================== */
.research-sec {
   -webkit-flex: 1 1 250px;
   flex: 1 1 250px;   
   margin: 20px;
   margin-left: 100px;
   margin-right: 100px; 
}

.research-sec div li{
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  margin-left: 0px;
  list-style: none
}

/* ==================================================================Header styles========================================================== */

header {
   background: rgb(129, 154, 91);
}

header div {
	max-width: 100%;
}

/*==============================================================Navigation list styles================================================================*/
header img#banner {
	top: 0px;
	display: block;
	float: left;
	background: rgb(129, 154, 91);
	margin: 0px;
	border: 0px;
	width: 100%;
}

header img.opacity{
	filter: opacity(25%);
}

header nav {
	filter: opacity(25%);
}

header nav ul {
	max-width: 100%;
	background-color: rgb(88, 125, 70); 
}
   
header nav ul li {
	font-size: 1em;   
}

header nav ul li a {
   color: white;
   display: block;
   padding: 5px 20px;
   width: 100%;
}

header nav ul li a:hover {
   color: rgb(240,226,67);
}

a#navicon {
   display: none;
}

/*=================================================================Footer styles===================================================================*/

footer {
   clear: both;
   color: white;    
   background-color: rgb(88, 125, 70);
   overflow: auto;
   font-size: 0.7em;  
   font-style: normal;
   width: 100%;
   margin-top: 20px;
}

footer nav ul, footer section {
   float: right;
   padding: 10px 30px;
   width: 20%;
}

footer section {
   float: left;
   padding: 5px 30px 25px;
   width: 40%;
}

footer section p a {
   color: white;
}

footer nav ul a {
   color: white;
}

footer nav ul a:hover {
   text-decoration: underline;
}

footer::after {
   display: table;
   content: "";
   clear: both;
}

/*=============================================================Mobile/Tablet Styles=====================================================================*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {

   
   body {
      margin: 0px;
   }
   
   a#navicon {
      display: block;
   }
   
   header nav {
      padding-bottom: 5px;
   }
   
   header nav ul {
      display: none;
   }
   
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }
   
   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
   
   header img#logoimg {
      width: 100vw;
   }
   
   article h1 {
      font-size: 1.8em;
   }
   
   div#calendar {
      width: 100vw;
      margin: 10px 0px;
   }   
   
   footer nav ul, footer section {
      font-size: 1.2em;
      width: 100vw;
   }
}


/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
    
   header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }
   
   header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}

@media (max-width: 768px) {
  .bio-content {
    flex-direction: column;
  }

  .text-box, .image-box {
    max-width: 100%;
    padding: 20px 0;
  }
}

